{% extends 'base.html' %}

{% load static %}
{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="cart-inner">
        <p class="cart-title">Ваша корзина</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Фото</th>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{product.image.url}}" alt=""></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}} {{product.currency}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|price_total:request.session.cart}}{{product.currency}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th colspan="">Итого</th>
                    <th>{{products|total_cart_price:request.session.cart}} сом</th>
                </tr>
            </tfoot>
        </table>
        <hr>
        <div class="m-3 p-3 popupbtn">
            <a href="{% url 'checkout' %}" class="btn-outline-info">Оформить заказ</a>
        </div>
   </div>
</div>





{% endblock %}