{% extends "base.html" %}
{% load static %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="main">
    <div class="container">
        <div class="detail">
            <div class="detail__up">
                <div class='detail__image-wrapper'>
                    <div class='detail__image'>
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}
                                    {% static 'main/image/no_image.svg' %}{% endif %}">
                    </div>
                    <div class="product-btn-wrapper">
                        <div class="products-item-btns ">
                            {% if product|is_in_cart:request.session.cart %}
                            <div class="quantityButton">
                                <form action="{% url 'detail' product.id %}"  class="" method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name='product' value='{{product.id}}'>
                                    <input hidden type="text" name='remove' value='True'>
                                    <button type="submit" class="decreaseButton"></button>
                                </form>
                                <div class="quantityProduct">{{product|cart_quantity:request.session.cart}}</div>
                                <form action="/#{{product.id}}" class="col-2 " method="post">
                                    {% csrf_token %}
                                    <input hidden type="text" name='product' value='{{product.id}}'>
                                    <button type="submit" class="increaseButton"></button>
                                </form>
                            </div>
                            {% else %}
                            <form action="/#{{product.id}}" method="POST" class="btn-block form-control">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{product.id}}">
                                <input type="submit" class="basket-btn form-control" value="Add to cart"/>
                            </form>
                            {% endif %}
                            
                        </div>
                    </div> 
                </div>
                <div class="detail__product-wrapper">
                    <div>
                        <h1 class='product__title'>{{ product.name }}</h1>
                        <table class='feature'>
                            <tbody>
                                <tr>
                                    <th>Категория:</th>
                                    <td>
                                        {{ product.category }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Описание:</th>
                                    <td>{{product.description}}</td>
                                </tr>
                                <tr>
                                    <th>Урожайность:</th>
                                    <td>{{product.productivity}}</td>
                                </tr>
                                <tr>
                                    <th>Количество:</th>
                                    <td>{{product.unit}} {{product.unitName}}</td>
                                </tr>
                                <tr>
                                    <th>Цена:</th>
                                    <td>{{product.price}} {{product.currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="comments">
                <div class="comments__total-count"> Отзывы
                    <div> Всего: <span>
                            {% with product.comments.count as total_comments %}
                            {{ total_comments }}
                            {% endwith %}</span>
                    </div>
                </div>
                <div class='comments__item'>
              
                        <ul class="w-full">
                            {% for comment in product.comments.all %}
                            <li class="comments__item-inner">
                                <span class="comments__user-name">{{ comment.user }} </span> <span class="date">
                                    {{ comment.created_on }} </span>
                                <div class='comments__input-wrapper'>

                                    <p class='comments__item-textarea' type="text" readonly> {{ comment.text }}
                                    </p>
                                </div>
                            </li>
                            {% empty %}
                            {% endfor %}
                        </ul>
                
                    <div class="haha">

                        {% if request.user.is_authenticated %}
                        <form action="" id="add_form" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </form>
                        <button class="comments__add-btn" form="add_form"> Добавить отзыв </button>
                        {% else %}
                        <p> Чтобы оставить отзыв, надо зарегистрироваться </p> <br>
                        <a href="{% url 'signup' %}" class="comments__add-btn">Регистрация</a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}