{% extends 'base.html' %}


{% block product %}
{% load cart %}
<div>
    <h2 class="my-data">Мои данные</h2>
    <div>
        <span class="my-datas">Username: </span>{{ request.user.username }}<br>
        <span class="my-datas">E-mail: </span>{{ request.user.email }}<br>
    </div>
    <hr>
    <h2 class="myaccount-title">Мои заказы</h2>
    {% for order in request.user.orders.all %}
    <div class="w-full order-block">
        <h4 class="order-id">Номер заказа: {{ order.id }}</h4>
       
        
        <div class="w-full">
            {% for item in order.items.all %}
            <div class="order-item">
                <img class="order-image" src="{{ item.product.image.url }}">
                <div class="order-content">
                    <div class="order-ttl-wrapper">
                        <a href="#" class="order-name">{{ item.product.name }}</a>
                        <p class="product-price">{{ item.product.price }} сом</p>
                    </div>
                    <hr>
                    <div class="product-quantity">
                        Количество: {{ item.quantity }}
                    </div>
                </div>
            </div>
            <div>
                <p class="text-lg">Дата: {{ order.created_at }}</p>
                <p class="text-lg">Итого: {{ item.price }} сом</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}