{% extends 'base.html' %}
{% block content %}

<div class="main">
    <div class="container">
        <div class="auth">
            <h1 class="auth-ttl">Регистрация</h1>
            <div class="auth-inner">
                <form class="auth-form" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="auth-up">
                        {{ field.errors }}
                        {{ field.label_tag }} 
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input type="submit" class="auth-btn" />
                </form><br>
                <a href="{% url 'signin'%}">Login</a>
               
                <div class="auth-image">
                    <img src="https://images.hibeta.com/pictures/restorants/2023/2/23/Show_123123333.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}