{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/basket.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <title> {% block title %} {% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <a class="logo" href="{% url 'home' %}"><img src="{% static 'image/logo-agromall.svg' %}" alt="logo-agromall"> </a>
                <ul class="header-contacts">
                    <li>
                        <a href="tel:+99670000000" class='header-contacts-link'>+99670000000</a>
                    </li>
                    <li>
                        <a href="mailto:agromall@gmail.com" class='header-contacts-link'>agromall@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main-wrapper">
                <div class="nav">
                    <div class="callcenter-image">
                        Консультация
                        <img src="{% static 'image/callcenter-icon.svg' %}" alt="callcenter">
                    </div>
                    <div class="nav-inner">
                        <label for="search-input" class="search-inner"> <i class="search-icon"></i>
                            <form class="search-input" method="GET" action="{% url 'search_list' %}">
                                <input id="search-icon" type="search" placeholder="Поиск..." name="q" aria-label='Search'/>
                                <button class= "search-icon"  alt=""> </button>
                            </form>
                        </label>
                        <div class="user-auth-btn">
                            {% if request.user.is_authenticated %}
                            <a class="user-auth-link" href="">Корзина:
                                <span>{{request.session.cart.keys|length}}</span></a>
                            <!-- <a href="{% url 'profile' user.id %}">{{request.user.username | title}}</a> -->
                            <a href="{% url 'logout' %}" class="user-auth-link">Выйти</a>
                            {% else %}
                            <a href="{% url 'signup' %}" class="user-auth-link">Регистрация</a>
                            <a href="{% url 'login' %}"  class="user-auth-link">Войти</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% block product %}

                {% endblock %}
            </div>
        </div>
        {% block content %}

        {% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                <p class="copyright">© 2023 AgroMall.<span>Kyrgyzstan.Bishkek</span></p>
            </div>
        </div>
    </footer>
</script>
</body>
</html>