*{
    font-family: 'Inter', sans-serif;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1317px;
    margin: 0 auto;
}

@media screen and (max-width: 1440px) {
    .container {
        width: 91.5%;
    }
}

.category-btns {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    overflow-y: unset;
    overflow-x: scroll;
}

.category-btns::-webkit-scrollbar {
    width: 0px;
    transition: all 0s ease;
    padding: 0;
}

.category-btns-ttl {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #0E0E0E;
    margin-right: 50px;
    white-space: nowrap;
}

/* ****************************** */
/* Sidebar style */


.sidebar {
    margin: 0px 30px 0 0;
}

@media screen and (max-width: 760px) {
    .sidebar {
       display: none;
    }
}

.sidebar-item-link {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    color: #088A06;
}

.sidebar-item-link i {
    margin-right: 20px;
}

.sidebar-profile-icon {
    display: inline-block;
    background-image: url("../image/avatar-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.sidebar-category-icon {
    display: inline-block;
    background-image: url("../image/category-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.sidebar-home-icon {
    display: inline-block;
    background-image: url("../image/home-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.sidebar-category-dropdown {
    margin-left: 40px;
    margin-top: 10px;
}


.sidebar-category-dropdown-link {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    letter-spacing: 0.02em;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #088A06;
}

.sidebar-category-dropdown-link i {
    margin-right: 20px;
}

.sidebar-seeds-icon {
    display: inline-block;
    background-image: url("../image/seeds-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.sidebar-fertilizer-icon {
    display: inline-block;
    background-image: url("../image/fertilizer-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.sidebar-new-plant-icon {
    display: inline-block;
    background-image: url("../image/new-plant-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.sidebar-gardening-tools-icon {
    display: inline-block;
    background-image: url("../image/gardening-tools-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}



/* ***************************************************** */

/* Products style */

.products {
    width: 75%;
}

@media screen and (max-width: 1200px) {
    .products {
        width: 70%;
    }
}

@media screen and (max-width: 760px) {
    .products {
        width: 100%;
    }
}

.products-wrapper {
    width: 100%;
}

.products-inner {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
}

@media only screen and (max-width: 1200px) {
    .products-inner {
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (max-width: 980px) {
    .products-inner {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 760px) {
    .products-inner {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 500px) {
    .products-inner {
        grid-template-columns: repeat(1,1fr);
    }
}

.products-item {
    border: 1px solid #0C6862;
    height: 380px;
    width: 100%;
    border-radius: 18px;
    background-color: #FFFFFF;
    padding: 15px;
    box-sizing: border-box;
}

.products-item-ttl {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 30px;
}

.products-item-content {
    margin-top: 25px;
}

.products-item-image {
    width: 100%;
    height: 140px;
    border-radius: 18px;
}
.products-item-image img {
    width: 100%;
    height: 140px;
    border-radius: 18px;
    object-fit: cover;
}

.products-rating {
    display: flex;
    flex-direction: row;
}

.products-item-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.products-item-rating span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6C7AA0;
}


.rating span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.star {
    width: 15px;
    height: 15px;
    background-image: url("../image/star-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 8px;
}

.products-item-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.products-item-quantity span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}


.products-item-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


.old-price {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: line-through;
    color: #000000;
}

.new-price {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FF2E00;

}

.products-item-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.btn-block {
    width: 100%;
}
.more-btn {
    background-color: #f2f2f9;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 20px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #3c3756;
    cursor: pointer;
    display: inline-block;
}

.basket-btn {
    background-color: #088A06;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 20px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
}

/* ********************************* */

.order-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;

}

.order-success-ttl {
    margin: 50px 0 100px 0;
}

.order-success-btn {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    width: 300px;
    height: 56px;
    background: #088A06;
    border-radius: 40px;
    margin: 100px 0 150px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




.quantityButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #088A06;
    border-radius: 10px;
    padding: 5px;
    height: 34px;
    box-sizing: border-box;
}


.decreaseButton {
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-image: url('../image/minus.svg');
    background-repeat: no-repeat;
    display: inline-block;
    background-color: #088a06;
    background-position: center;
}


.quantityProduct {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 15px;
}

.increaseButton {
    width: 25px;
    height: 25px;
    background-image: url('../image/plus.svg');
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    background-color: #088a06;
    background-position: center;
}

/* Cart */

.cart-inner {
    width: 80%;
    margin: 20px auto;
    border-radius: 4px;
    border: 1px solid #dee2e6!important;
}

.cart-title {
    font-size: 18px;
    margin: 20px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.m-3{
    margin: 1rem;
}
.p-3 {
    padding: 1rem;
}

.btn-outline-info {
    width: 100%;
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
    display: inline-block;
    border: 1px solid #dee2e6!important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    text-align: inherit;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 16px;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

/* Checkout */

.checkout-inner {
    width: 60%;
    padding: 20px;
}

.w-full {
    width: 100%;
}

.checkout-title {
    margin-bottom: 20px;
}

.checkout-subtitle {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 18px;
}
.checkout-block {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(243 244 246 / 1);
    border-radius: 10px;
}

.checkout-input {
    padding: 15px;
    border-radius: 6px;
    font-size: 16px;
}

.checkout-label {
    display: flex;
    flex-direction: column;
}

.font-semibold {
    font-weight: 600;
    margin-bottom: 20px;
}
.checkout-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-ttl-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 10px;
}
.checkout-btn {
    width: 200px;
    color: white;
    background-color: #088a06;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
}

.checkout-label span {
    margin: 10px 0 20px 10px;
    display: inline-block;
}

/* My account */

.myaccount-title {
    margin: 20px 0;
    font-size: 26px;
    font-weight: 500;
    color: #088a06;
}

.order-image {
 width: 70px;
 height: 70px;
 border-radius: 10px;
}

.order-item {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.order-content {
    width: 100%;
    padding-left: 20px;
}

.product-price {
    font-size: 16px;
    color: rgb(156 163 175 /1)

}

.product-quantity {
    margin-top: 10px;
}

.text-lg {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    line-height: 20px;
}

.order-block {
    width: 60%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(243 244 246 / 1);
    border-radius: 10px;
}

.order-name {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.order-id {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
}